{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"printWidth": 100,
	"quoteProps": "consistent",
	"semi": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true
}
